<div id="unauthenticated-view-container">
  <!--<ul class="nav nav-tabs">-->
    <!--<li class=""><a href="#login" data-toggle="tab" data-content="login">Login</a></li>-->
    <!--<li class="active"><a href="#signup" data-toggle="tab" data-content="signup">Sign up</a></li>-->
    <!--<li><a href="#retrieve-password" data-toggle="tab" data-content="retrievePassword">Retrieve password</a></li>-->
  <!--</ul>-->
  <div class="tab-content" id="tab-content"><div><form id="signup-form" class="form-horizontal">
    <fieldset>
      <div id="email_group" class="control-group">
        <label class="control-label" for="login_user_email">Email</label>
        <div class="controls">
          <input id="email" name="email" type="email" required="required">
        </div>
      </div>
      <div id="password_group" class="control-group">
        <label class="control-label" for="login_user_password">Password</label>
        <div class="controls">
          <input id="password" name="password" type="password" required="required">
        </div>
      </div>
      <div id="password_confirmation_group" class="control-group">
        <label class="control-label" for="login_user_password_confirmation">Confirm Password</label>
        <div class="controls">
          <input id="password_confirmation" name="password_confirmation" type="password" required="required">
        </div>
      </div>

      <div class="form-actions">
        <input type="submit" value="Sign up" class="btn btn-primary">
      </div>
    </fieldset>
  </form>
  </div></div>
</div>