$gth-blue: #00acc5;
$gth-orange: #cf5800;
$gth-light-orange: #e6ac87;
$gth-light-grey: #d7d7d7;
$gth-medium-grey: #b7b7b7;
$gth-dark-grey: #959595;

$gth-font-family: 'Open Sans', sans-serif;
$gth-alt-font-family: 'Sanchez', serif;

body {
  font-family: $gth-font-family;

  .container {
    text-align: center;
    max-width: 482px;
    margin: auto;
    padding: 0 20px;

    .logo {
      max-width: 150px;
    }

    fieldset {
      border: 0;

      input, button {
        box-shadow: inset 0 1px 3px #ddd;
        padding: .5em .6em;
        border-radius: 4px;
      }

      input {
        border: 1px solid #ccc;
        &:focus {
          outline-color: $gth-light-orange;
        }
      }

      button {
        background-color: $gth-blue;
        color: white;
        border: 0;
        cursor: pointer;
      }
    }

    footer {
      color: $gth-dark-grey;
      font-size: 18px;
      font-weight: lighter;
      max-width: 482px;
      margin: 0 auto;
    }
  }
}

@media all and (max-width: 767px) {
  .desktop-container {
    display: none;
  }

  input {
    display: block;
    margin: auto;
    margin-bottom: 6px;
  }
}

@media all and (min-width: 768px) {
  .mobile-container {
    display: none;
  }

  body {

    .container {
      max-width: 980px;
    }

    .signin {
      height: 60px;
      margin-bottom: 12px;

      .logo {
        float: left;
      }

      fieldset {
        float: right;
        margin-top: 16px;

        input {
          margin-right: 12px;
        }
      }
    }

    .box {
      background-image: url(image_path('background_4.png'));
      background-size: cover;
      padding: 20px 30px;
      text-align: center;
      margin-bottom: 20px;

      .intro-text {
        color: white;
        font-family: $gth-alt-font-family;
        font-size: 27px;
        margin-bottom: 14px;
      }

      .inner-box {
        display: inline-block;
        text-align: center;
        background-color: rgba(200, 200, 200, 0.6);
        border-radius: 6px;

        h3 {
          border-top-left-radius: 6px;
          border-top-right-radius: 6px;
          background-color: $gth-blue;
          color: white;
          font-weight: normal;
          font-size: 19px;
          padding: 3px;
          margin: 0;
          margin-bottom: 6px;
        }

        .signup {

          width: 300px;

          fieldset {
            border: 0;
            padding: 6px 12px;

            input {
              margin-bottom: 9px;
            }

            button {
              background-color: $gth-orange;
              display: block;
              margin: auto;
            }
          }
        }
      }
    }

    .errors {
      list-style-type: none;
      text-align: left;
      padding: 0;
    }
  }
}