$gth-blue: #00acc5;
$gth-orange: #cf5800;
$gth-light-orange: #e6ac87;
$gth-light-grey: #d7d7d7;
$gth-medium-grey: #b7b7b7;
$gth-dark-grey: #959595;

$gth-font-family: 'Open Sans', sans-serif;
$gth-alt-font-family: 'Sanchez', serif;

body {
  font-family: $gth-font-family;
}

.container {
  max-width: 980px;
  margin: auto;
  padding: 0 20px;
}

.signin {
  height: 60px;
  margin-bottom: 12px;

  .logo {
    height: 100%;
  }

  fieldset {
    display: inline;
    border: 0;
    float: right;
    font-size: 16px;
    padding: 0;
    margin: 0;

    span {
      display: inline-block;
      margin-left: 12px;

      label {
        display: block;
      }

      input, button {
        box-shadow: inset 0 1px 3px #ddd;
        padding: .5em .6em;
        border-radius: 4px;
      }

      input {
        font-size: 14px;
        padding: 8px;
        border: 1px solid #ccc;
        &:focus {
          outline-color: $gth-light-orange;
        }
      }

      button {
        background-color: $gth-blue;
        color: white;
        border: 0;
        cursor: pointer;
        font-size: 14px;
      }
    }
  }
}

.box {
  background-image: url(image_path('background_4.png'));
  background-size: cover;
  padding: 20px 30px;
  text-align: center;
  margin-bottom: 30px;

  .intro-text {
    color: white;
    font-family: $gth-alt-font-family;
    font-size: 27px;
    margin-bottom: 14px;
  }

  .inner-box {
    display: inline-block;
    text-align: center;
    background-color: rgba(200, 200, 200, 0.6);
    border-radius: 6px;

    h3 {
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      background-color: $gth-blue;
      color: white;
      font-weight: normal;
      font-size: 19px;
      padding: 3px;
      margin: 0;
      margin-bottom: 6px;
    }

    .signup {

      text-align: right;

      fieldset {
        border: 0;
        font-size: 16px;
        padding: 6px 12px;

        div {
          margin-bottom: 9px;

          label {
            margin-right: 10px;
            vertical-align: middle;
          }

          input, button {
            box-shadow: inset 0 1px 3px #ddd;
            padding: .5em .6em;
            border-radius: 4px;
          }

          input {
            border: 1px solid #ccc;
          }

          button {
            background-color: $gth-orange;
            color: white;
            border: 0;
            cursor: pointer;
            font-size: 14px;
          }
        }
      }
    }
  }
}

.errors {
  list-style-type: none;
  text-align: left;
  padding: 0;
}

footer {
  text-align: center;
  color: $gth-dark-grey;
  font-size: 18px;
  font-weight: lighter;
  max-width: 482px;
  margin: 0 auto;
}
